@import url('Fonts/calibri/Calibri.ttf');

* {
    box-sizing: border-box;
    font-family: Calibri;
    color: #777;
}


html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin:0;
}

.nav li{
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255,255,255,0.3);
}

.main-header {
    background-color: rgb(0, 28, 62);
    background-image: url('Images/banner.png');
    background-size: cover;
    padding-bottom: 30px;
}